RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z_]+)/$ /index.php?id=$1 [L,QSA]
RewriteRule ^([a-z_]+)/([a-z_]+)/$ /index.php?id=$1&id1=$2 [L,QSA]
RewriteRule ^([a-z_]+)/([a-z_]+)/([0-9]+)/$ /index.php?id=$1&id1=$2&id2=$3 [L,QSA]